.row.container.featurette#sample_uses


  .col-md-3.col-sm-3.col-xs-3
    %h2.featurette-heading
      Sample Uses

    %p.lead
      %ul
        %li Digital Storytelling
        %li Class field trip
        %li New baby
        %li Lecture recording
        %li Creating mini-presentations on the road
        %li Out with friends
        %li Travel Logs
        %li Conference notes
        %li Honeymoon
        %li Museum tours
        %li Photo tours
        %li Language instruction

  .col-md-3.col-sm-3.col-xs-3
    %h2.featurette-heading
      continued...
    %p.lead
      %ul
        %li Create Audio books
        %li Lab notes
        %li Insurance claims
        %li Accident documentation
        %li Medical diagnosis / dictation
        %li Land surveys
        %li Real estate tours
        %li Home shopping
        %li New town experiences
        %li Staff introductions
        %li Helping boyfriend study names/faces before meeting girlfriend's family.