.container
  %h1
    = @page_title

  %p
    If you are have a question about SonicPics, please contact us via email at

    //=link_to "SonicPics Support", new_contact_path
    = mail_to "support@sonicpics.com", "Support Contact", subject: "SonicPics Support"

  %h2 Frequently Asked Questions

  %h3 Why does SonicPics need access to my location data?
  %p
    When adding images from your device library for the first time using the latest version of SonicPics your device will prompt you to allow access to location data. Photos in your Photo Library may contain location specific information.
    %b SonicPics does NOT read or use this information in any way.
  %p
    Apple requires us to have users enable Location Services for SonicPics to be able to access photos from your Photo Library.
  %p
    For more information about changing your location settings and to learn more about iOS location services, see Apple's Understanding Location Services support article.  (
    =link_to 'http://support.apple.com/kb/HT1975', 'http://support.apple.com/kb/HT1975', target: '_blank'

  %h3 How do I give SonicPics permission to access my photos?
  %ol
    %li
      Make sure that Location Services is enabled for SonicPics.
      %ol{type: "a"}
        %li Select 'Settings', then select 'Privacy' and then select 'Location Services'.
        %li Make sure that 'Location Services' is 'On' for SonicPics

    %li
      Make sure that you have granted SonicPics access to your Photos
      %ol{type: "a"}
        %li Select 'Settings', then select 'Privacy' and then select 'Photos'.
        %li Make sure that the toggle next to SonicPics is set to  'On'

  %h3 My recording never finishes saving.
  %p
    We recently discovered a bug where this can happen if the user leaves SonicPics (during the rendering process). To restart the rendering, force SonicPics to quit and then reopen it. We are working on implementing a fix that will be in our next update.

  %h3 How can I share my recording?
  %p
    Recordings under 10MB can be shared via email. Larger recordings can be shared via local wifi (to download to a computer), to YouTube or to the camera roll on the device (to be synched with a computer).
  %p
    The 10MB limit for email is indeed a restriction of SonicPics. We put it in place because many (most) school districts have a file size limit for their email services that is 10MB (sometimes higher, but usually not lower).
  %h3 When I upload my recording to YouTube the timing is off. Can I fix this?
  %p
    YouTube reprocessing all videos that are submitted to it. This reprocessing has caused problems with the timeing on some recordings made in SonicPics. We recently released a free update to SonicPics that fixes this problem. Please update to the latest version of SonicPics and resubmit your video.

  %h3 I am getting a 'no linked account' error when trying to share a recording to YouTube. Can You fix this?
  %p
    We aren't able to provide support for Google or YouTube accounts (Google owns YouTube). Support directly from Google can be found here.
    = link_to 'https://support.google.com/youtube/topic/3024171?hl=en&ref_topic=3024169', 'https://support.google.com/youtube/topic/3024171?hl=en&ref_topic=3024169', target: '_blank'